[defaults]
ask_vault_pass = False
inventory = inventory.yml
transport = local
interpreter_python = python3
callback_enabled = profile_tasks
retry_files_enabled = False
host_key_checking = False
stdout_callback = yaml
bin_ansible_callbacks = True

[privilege_escalation]
become_ask_pass = False
become = True
